name: Generate EPG every day
on:
  schedule:
    - cron: '00 00-12/6 * * *'
  pull_request:
    branches:
      - master
  workflow_dispatch:

jobs:
  generate:
    runs-on: ubuntu-latest
    steps:
      - name: checkout
        uses: actions/checkout@v5
      - name: config
        run: |
          git pull
          git config --global user.email "action@github.com"
          git config --global user.name "GitHub Action"
      - name: generate
        run: |
          cd epg
          pwd       
          python3 -m pip install lxml
          echo "Generating EPG for main playlist..."
          python3 scripts/index.py guide.xml scripts/main/main.txt "action@github.com" "GitHub Action"
          sleep 3
          python3 scripts/index.py local.xml scripts/local/local.txt "action@github.com" "GitHub Action"
          sleep 3
          python3 scripts/index.py nze.xml scripts/nze/nze.txt "action@github.com" "GitHub Action"
          gzip -9 -f guide.xml
          sleep 3
          gzip -9 -f local.xml
          sleep 3
          gzip -9 -f nze.xml
          cd ..
      - name: commit
        run: |
          git add -A
          git commit -m "SIP"
          git push


